/* Contact Us */
a{
    color: black;
    font-size: 25px;
    }
.main_class{
background-color: darkblue;
color: white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 20px;
}
.main_class_1{
    font-size: 22px;
    background: rgb(164, 165, 237);
    color: darkblue;
}
.main_class_2{
    font-size: 22px;
    background: rgb(164, 165, 237);
    color: darkblue;
}
.main_class_3{
    font-size: 22px;
    background: rgb(164, 165, 237);
    color: darkblue;
}
/* Home */

.main_class{
    background-color: darkblue;
color: white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 20px;
}
.main_class_1{
    font-size: 22px;
    background: rgb(164, 165, 237);
    color: darkblue;
}
a{
color: black;
font-size: 25px;
}
#main_box{
    display: flex;
    gap: 700px;
    background: rgb(164, 165, 237) ;
}
#main_box_2{
    display: flex;
    gap: 700px;
    background: rgb(164, 165, 237) ;
}
#main_box_3{
    display: flex;
    gap: 700px;
    background: rgb(164, 165, 237) ;
}
#main_box_4{
    display: flex;
    gap: 700px;
    background: rgb(164, 165, 237) ;
}
#main_box_5{
    display: flex;
    gap: 830px;
    background: rgb(164, 165, 237) ;
}
#main_box_6{
    display: flex;
    gap: 700px;
    background: rgb(164, 165, 237) ;
}
.footer{
    background: rgb(164, 165, 237) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.background{
    background: rgb(164, 165, 237) ;
}
.hhhhhhhh{
    background: rgb(164, 165, 237) ;
}
#main_box_8{
    display: flex;
    gap: 700px;
    background: rgb(164, 165, 237) ;
}
#main_box_9{
    display: flex;
    gap: 712px;
    background: rgb(164, 165, 237) ;
}
#main_box_10{
    display: flex;
    gap: 600px;
    background: rgb(164, 165, 237) ;
}
#main_box_11{
    display: flex;
    gap: 600px;
    background: rgb(164, 165, 237) ;
}
#main_box_12{
    display: flex;
    gap: 600px;
    background: rgb(164, 165, 237) ;
}
#main9{
    display: flex;
    gap: 600px;
    background: rgb(164, 165, 237) ;
}